#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.comment {
  border: solid gray 1px;
  padding: 15px;
  margin: 20px;
  
  background-color: rgb(207, 205, 203);
}

.email {
  color: red;
}
h2 {
  margin-bottom: 10px;
}
.rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 300px;
  height: 150px;
  margin-left: 35vw;
  margin-right: 35vw;
}



